body {
  background-color: LightGray;
  font: Helvetica;
  font-family: sans-serif;
}

.vocabTerm {
    color: DeepSkyBlue;
    font-size: 48px;
    font: Helvetica;
    font-family: sans-serif;
    text-align: center;
  }

  .box {
    background-color:White;
    border: 80px;
    width: 600px;
    height: 250px;
    margin: auto;
  }

  .definition {
    font-size: 28px;
    max-width: 590px;
    font-family: sans-serif;
    font-weight:normal;
    word-wrap: normal;
    text-align: center;
    padding: 5px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
  }

a:link, a:visited {
  background-color: White;
  color: DeepSkyBlue;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: SkyBlue;
}
