body {
  background-color: LightGray;
  font: Helvetica;
  font-family: sans-serif;
}

.vocabTerm {
    color: DeepSkyBlue;
    font-size: 48px;
    text-align: center;
  }

  .box {
    background-color: White;
    border: 80px;
    max-width: 600px;
    max-height: 250px;
    width: 15%
    height: 10%;
    margin: 0 auto;
    padding: 10px;
  }

  .definition {
    font-size: 28px;
    max-width: 590px;
    max-height:240px;
    font-family: sans-serif;
    font-weight:normal;
    word-wrap: normal;
    text-align: center;
    padding: 5px;
  }
